<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <div class="container">
        <div class="mt-5">
            <h3>Add demo</h3>
        </div>
        <form method="POST" action="/coursetrainer/store" class="mt-4" enctype="multipart/form-data"> 
            <div class="form-group">
                <label for="categoryName">Demo Name</label>
                <input type="text" class="form-control" id="categoryName" name="name">
            </div>
            <div class="form-group">
                <label for="categoryDescription">Demo Description</label>
                <textarea class="form-control" id="categoryDescription" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{{> bottom}} 
</body>
</html>