<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> staffLayout}}
    
    <main class="content-detail" id="common_content-area">
        <h1>Hello</h1>
    </main>

{{> bottom}}
</body>
</html>