@import url('./viewTrainee.css');
.trainees-table {
    margin-top: 40px;
}

.trainer-body {
    font-family: 'Rubik', sans-serif;
}

.trainer-p {
    margin: 0;
}

.trainer-th {
    vertical-align: middle;
}

.class-title {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5;
}