.trainees-table {
    margin-top: 40px;
}

.trainer-status-pending {
    background-color: #9e9e9e;
    color: #000;
    padding: 5px 20px;
    border-radius: 12px;
}

.trainer-status-pass {
    background-color: #2eeb08;
    color: #000;
    padding: 5px 20px;
    border-radius: 12px;
}

.trainer-status-merit {
    background-color: #08ebc1;
    color: #000;
    padding: 5px 20px;
    border-radius: 12px;
}

.trainer-status-distinction {
    background-color: #fa8e01;
    color: #000;
    padding: 5px 20px;
    border-radius: 12px;
}

.trainer-status-fail {
    background-color: rgb(250, 6, 6);
    color: #000;
    padding: 5px 20px;
    border-radius: 12px;
}

.trainer-p {
    text-align: center;
}

.trainer-button-edit {
    background-color: aliceblue;
    border-radius: 12px;
    color: black;
    border: none;
}

.trainer-button-edit:hover {
    background-color: rgb(148, 86, 4);
}

.trainer-button-delete {
    background-color: rgb(215, 217, 219);
    border-radius: 12px;
    color: black;
    border: none;
    outline: none;
}

.trainer-modal-title {
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    outline: none;
}


/* Edit form  */

.trainee-image {
    text-align: center;
    margin-bottom: 20px;
}

.trainee-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.trainee-info {
    text-align: center;
}

.trainee-info h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.trainee-info p {
    font-size: 16px;
    color: #000;
    letter-spacing: 0.3rem;
}

.trainer-form-update {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.trainer-form-edit-grade label {
    margin-bottom: 10px;
}

.trainer-grade-status {
    margin-top: 10px;
}

.trainer-course {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 0 40px;
}

.trainer-course .trainer-course-name {
    text-align: center;
    gap: 0 40px;
}

.trainer-status {
    display: grid;
    grid-template-columns: 100px auto;
    margin-top: 30px;
    gap: 0 40px;
}

.trainer-status .trainer-status-desc {
    text-align: center;
}

.trainer-grade {
    display: grid;
    grid-template-columns: 100px auto;
    margin-top: 30px;
    gap: 0 40px;
}

.trainer-grade-input {
    text-align: center;
}

.trainer-btn-disable {
    cursor: not-allowed;
    background-color: gray;
    pointer-events: none;
}

.trainer-btn-search {
    width: 90px;
    margin-left: 30px;
    background-color: #5AE8CE;
    border: none
}

.trainer-btn-search:hover {
    background-color: #53bfab;
}


/* action-block-trainer */


/* .action-block-trainer { */


/* min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px 0; */


/* } */