<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <a href="/{{removeSpace user.name}}" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
    </a>

    <form action="/{{removeSpace user.name}}/store_password" method="POST">
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Your old password..." required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Your new password..." required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Your new password..." required>
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
    </form>
</body>
</html>