<header class="common_interface-header" id="common_interface-header">
    <div class="common_interface-header-l_area">
        <a href=""><img class="" src="images/header/logo.png" alt=""></a>
        <span style="font-size: 35px; cursor: pointer;" onclick="toggle()">&#9776;</span>
    </div>
    <div class="common_interface_header_r-area">
        <i style="font-size: 38px;" class="bi bi-person-circle"></i>
    </div>
</header>

<aside id="common_interface-l_sidebar" class="common_interface-l_sidebar">
    <a href="javascript:void(0)" class="l_sidebar-closebtn" onclick="toggle()">&times;</a>
    <div class="l_sidebar-main_menu">
        <h2>Menu</h2>
        <a href="#"><i class="fas fa-user-circle"></i>Home</a>
        <a href="#"><i class="fa fa-users"></i>About</a>
        <a href="#"><i class="fa fa-book"></i>Portfolio</a>
        <a href="#"><i class="fa fa-file-o"></i>Services</a>
        <a href="#"><i class="fa fa-phone"></i>Contact</a>
    </div>
</aside>

<script>
    function toggle() {
        document.getElementById("common_interface-l_sidebar").classList.toggle("toggle_active1");
        document.getElementById("common_interface-header").classList.toggle("toggle_active2");
        document.getElementById("common_content-area").classList.toggle("toggle_active2");
    }
</script>