<header class="common_interface-header" id="common_interface-header">
    <div class="common_interface-header-l_area">
        <a href="/trainer"><img class="" src="/images/header/logo.png" alt=""></a>
        <span style="font-size: 35px; cursor: pointer;" onclick="toggle()">&#9776;</span>
    </div>
    <div class="common_interface_header_r-area">
        <div class="header_r-area-info">
            {{!-- <img src="data:image/{{user.image.contentType}};base64,{{convertImage user.image.data}}" alt="">
            <label for="info-checkbox">{{user.name}}
                <span class="fas fa-caret-down"></span>
            </label> --}}
            <input type="checkbox" name="" id="info-checkbox">
            <ul>
                {{!-- <li><a href="/{{removeSpace user.name}}">Your profile</a></li> --}}
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>

<aside id="common_interface-l_sidebar" class="common_interface-l_sidebar">
    <a href="javascript:void(0)" class="l_sidebar-closebtn" onclick="toggle()">&times;</a>
    <div class="l_sidebar-main_menu">
    <h2>Menu</h2>
        <a href="/trainer"><i class="bi bi-house-door"></i></i>Home</a>
        <a href="/trainer/assignedCourse"><i class="bi bi-briefcase"></i> View Courses</a>
        <a href="/trainer/profile"><i class="fa fa-file-o"></i>Your Profile</a>
        <a href="#"><i class="bi bi-box-arrow-right"></i></i>Logout</a>
    </div>
</aside>

