<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> adminLayout}}

    <main class="content-detail" id="common_content-area">
        <a href="/admin/create" type="button" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <form class="row g-3 mt-4" method="POST" action="">
            <div class="text-left">
                <img style="width: 200px; height: 200px; margin-right: 20px;" src="/images/admin/background_image1.jpg" class="img-thumbnail" alt="">
                <div style="display: inline-block; position: relative;">
                    <img style="width: 200px; height: 200px;" src="" class="img-thumbnail" id="chosenImage" alt="">
                    <i style="position: absolute;" class="bi bi-x-lg"></i>
                </div>
            </div>
            <div class="input-group mt-4 mb-3">
                <label class="input-group-text" for="btn-upload-img">Upload</label>
                <input type="file" class="form-control" id="btn-upload-img" accept="">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" value="@fpt.edu.vn">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select name="" id="inputState" class="form-select">
                    <option value="{{id}}">IT</option>
                    <option value="{{id}}">Business</option>
                    <option value="{{id}}">ABC</option>
                </select>
            </div>
            <div class="col-12 mt-5">
                <button type="submit" class="btn btn-primary fs-5" style="font-weight: 500;">Update
                    <i class="bi bi-check2 fs-5"></i>
                </button>
            </div>
        </form>
    </main>
    
    <script>
        const img = document.querySelector("#chosenImage");
        const uploadBtn = document.querySelector("#btn-upload-img");

        uploadBtn.addEventListener("change", function() {
            const file = this.files[0];
            if(file) {
                const reader = new FileReader();
                reader.onload = function() {
                    const result = reader.result;
                    img.src = result;
                }
                reader.readAsDataURL(file);
            }
        });
    </script>

{{> bottom}}
</body>
</html>