<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> adminLayout}}
    
    <main class="content-detail" id="common_content-area">
        <a href="/{{user.role}}" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        {{!-- <form action="/{{removeSpace user.name}}/change_password" method="POST">
            <input type="hidden" name="email" value="{{user.email}}">
            <button type="submit" class="btn btn-link">Change Password</button>
        </form> --}}
        <a href="/{{removeSpace user.name}}/change_password" class="btn btn-link">Change Password</a>
    </main>

{{> frameworkCDN}}
</body>
</html>