<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> trainerLayout}}

    {{!-- <main id="common_content-area" class="">
        <div class="image-slider">
        </div>
    </main> --}}
    
{{> bottom}}
</body>
</html>