<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> traineeLayout}}

    <main class="content-detail" id="common_content-area">
        <a href="/trainee/profile" type="button" class="btn btn-link fs-5">
            <i class="bi bi-arrow-return-left" style="margin-right: 5px;"></i>Back
        </a>
        <form class="row g-3 mt-4" method="POST" action="">
            {{!-- <div class="text-left">
                <img style="width: 200px; height: 200px; margin-right: 20px;" src="/images/admin/background_image1.jpg" class="img-thumbnail" alt="">
                <div class="chosen_image-container">
                    <img style="width: 200px; height: 200px;" src="" class="img-thumbnail" id="chosenImage" alt="">
                    <i id="cancel-btn" class="bi bi-x-lg"></i>
                </div>
            </div> --}}
            {{!-- <div class="input-group mt-4 mb-3">
                <label class="input-group-text" for="btn-upload-img">Upload</label>
                <input type="file" class="form-control" id="btn-upload-img" accept="">
            </div> --}}
            <div class="col-md-6">
                <label for="code" class="form-label">Course Category</label>
                <input type="code" class="form-control" id="inputEmail4" value="">
            </div>
            <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input type="name" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Trainer</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Total</label>
                <input type="text" class="form-control" id="">
            </div>
            {{!-- <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select name="" id="inputState" class="form-select">
                    <option value="{{id}}">IT</option>
                    <option value="{{id}}">Business</option>
                    <option value="{{id}}">ABC</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div> --}}
            <div class="col-12 mt-5">
                <button type="submit" class="btn btn-primary fs-5" style="font-weight: 500;">Update
                    <i class="bi bi-check2 fs-5"></i>
                </button>
            </div>
        </form>
    </main>

{{> bottom}}
</body>
</html>